@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:gray ;
    min-height: 100vh;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 40px;
    font-variant: small-caps;
}
header > p{
    padding-bottom: 50px;
}
a, footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 55px;
}
section.normal{
    background-color: white;
    color: black ;
}
section.imagem{
    background-color: rgb(70, 70, 70);
    color: rgb(255, 255, 255);
    
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.375);
    padding: 15px;
    width: 300px;
}
footer{
    background-color: black;
    text-align: center;
    padding: 10px;
}
footer > p{
    color: white;
}